---
layout: page
title:" Dilip.S "
subtitle: Embedded Developer, Entrepreneur and student in the field of Electronics & Communication Engineering.
---


 <!--<script type="text/javascript">-->
 <!--       var module = document.getElementById("clamp-this-module");-->

 <!--           $clamp(module, {clamp: 2});-->
 <!--       </script>-->


<style> 
.wrapper {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 0px; /* Chrome, Safari, Opera */
    -moz-column-gap: 0px; /* Firefox */
    column-gap: 0px;
}
</style>

<div class="main-explain-area jumbotron">
<br>
<h7>Top Skills</h7>
<p>
<div class="wrapper">
	<ul>
 		<li>Arduino</li>
  		<li>AVR</li>
  		<li>Raspberry pi</li>
 		<li>CC3200</li>
 		<li>MSP430</li>
 		<li>Matlab</li>
 		<li>Energia</li>
  		<li>C</li>
  		<li>C++</li>
  		<li>Embedded c</li>
  		<li>processing</li>
  		<li>Verilog</li>
  		<li>Cloud computing</li>
  		<li>Hardware hacking</li>
  		<li>Robotics</li>
  		<li>Auto cad</li>
  		<li>Self motivation</li>
  		<li>Team work</li>
	</ul>
</div>
</p>
</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
	  <h2 class="post-title">{{ post.title }}</h2>
	
	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}  
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: "%B %-d, %Y" }}
    </p>
  
    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html}}
	  <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  
   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}

